<!-- Footer -->

<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>Google Maps Be here</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>I do social</h3>
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/niels.vandeursen" class="btn-social btn-outline">
                <%= fa_icon 'fw facebook' %>
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/104656186078129765941/posts" class="btn-social btn-outline"><%= fa_icon 'fw google-plus' %></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/niels-van-deursen-81748b1b" class="btn-social btn-outline"><%= fa_icon 'fw linkedin' %></a>
            </li>
            <li>
              <a href="https://github.com/Nivade/" class="btn-social btn-outline"><%= fa_icon 'fw github' %></a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>Right</h3>
          <p>At the moment I have fuck all of a clue what to put here.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; Niels van Deursen 2016
        </div>
      </div>
    </div>
  </div>
</footer>
