
// Assets.
@images: "../img";
@fonts: "../fonts";

// Fonts
@font-family-primary: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-secondary: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;


// Colors
@color-primary-base: #242121;
@color-primary-light: #706767;
@color-primary-lighter: rgba(255, 255, 255, 0.3);
